@import "tailwindcss";
@import "./color.css";
@import "./typography.css";

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .button {
    @apply flex cursor-pointer items-center gap-1 rounded-sm bg-gray-900 p-2 text-gray-50;
  }
}
