@import "tailwindcss";
@import "./color.css";
@import "./typography.css";
@import "./components.css";

@layer utilities {
  .overflow-auto-hide-scroll {
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
  .overflow-auto-hide-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
  ring: 0;
}

textarea {
  outline: none;
  resize: none;
  scrollbar-width: none;
}
