@import "tailwindcss";

:root {
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  --line-height-150-pct: 1.125rem;
  --letter-spacing-15: -0.01125rem;
}

@theme {
  /* Headline Typography System */
  --text-headline-0: 32px;
  --text-headline-0-line-height: 44px;
  --text-headline-0-letter-spacing: 0em;
  --text-headline-0-font-weight: var(--font-weight-semibold);

  --text-headline-1: 24px;
  --text-headline-1--line-height: 36px;
  --text-headline-1--letter-spacing: 0em;
  --text-headline-1--font-weight: var(--font-weight-semibold);

  --text-headline-2: 24px;
  --text-headline-2--line-height: 36px;
  --text-headline-2--letter-spacing: 0em;
  --text-headline-2--font-weight: var(--font-weight-regular);

  --text-headline-3: 20px;
  --text-headline-3--line-height: 30px;
  --text-headline-3--letter-spacing: -0.015em;
  --text-headline-3--font-weight: var(--font-weight-semibold);

  /* Title Typography System */
  --text-title-1: 18px;
  --text-title-1--line-height: 27px;
  --text-title-1--letter-spacing: -0.025em;
  --text-title-1--font-weight: var(--font-weight-semibold);

  --text-title-2: 18px;
  --text-title-2--line-height: 27px;
  --text-title-2--letter-spacing: -0.025em;
  --text-title-2--font-weight: var(--font-weight-medium);

  --text-title-3: 1.125rem;
  --text-title-3--line-height: 1.6875rem;
  --text-title-3--letter-spacing: -0.02813rem;
  --text-title-3--font-weight: var(--font-weight-regular);

  /* Label Typography System */
  --text-label-1: 1rem;
  --text-label-1--line-height: 1.5rem;
  --text-label-1--letter-spacing: -0.015em;
  --text-label-1--font-weight: var(--font-weight-semibold);

  --text-label-2: 1rem;
  --text-label-2--line-height: 1.5rem;
  --text-label-2--letter-spacing: -0.025rem;
  --text-label-2--font-weight: var(--font-weight-regular);

  /* Body Typography System */
  --text-body-1: 14px;
  --text-body-1--line-height: 21px;
  --text-body-1--letter-spacing: -0.015em;
  --text-body-1--font-weight: var(--font-weight-semibold);

  --text-body-2: 14px;
  --text-body-2--line-height: 21px;
  --text-body-2--letter-spacing: -0.015em;
  --text-body-2--font-weight: var(--font-weight-regular);

  /* Caption Typography System */
  --text-caption-1: 12px;
  --text-caption-1--line-height: 18px;
  --text-caption-1--letter-spacing: -0.015em;
  --text-caption-1--font-weight: var(--font-weight-medium);

  --text-caption-2: 12px;
  --text-caption-2--line-height: 18px;
  --text-caption-2--letter-spacing: -0.015em;
  --text-caption-2--font-weight: var(--font-weight-regular);
}
